# backend
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/.venv/
*.pyc

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# 공통
.DS_Store

*.zip
backend/logs/
backend/*.log
backend/utils/classifier_errors.csv
backend/utils/ambiguous_classifications.csv